h1 {
	color:red;
}

#cont1 {
	background-color: lightgrey;
}

#cont2 {
	background-color: lightblue;
}

.card {
	padding: 10px;
	background-color: red;
	position: relative;
	margin: 3px;
	border-radius: 5px;
	margin-top: 10px;
}

.card:hover {
	background-color: orange;
}

.container {
	margin-top: 50px;
	width: 100vw;
	height: 30vh;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#demo {
	margin: 2%;
	padding: 1%;
	border-radius: 5px;

}